<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548681749901-4sus26a3vsisung1gk5lj5bkma81jkok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548681749901-4sus26a3vsisung1gk5lj5bkma81jkok</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>548681749901-jucvg92umhl4hln84uf89b04i41sbfrl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtVEDf2dTJMn_PjNQGhqhv4l6aGnlCOUM</string>
	<key>GCM_SENDER_ID</key>
	<string>548681749901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fyporgandonation</string>
	<key>PROJECT_ID</key>
	<string>fyp-organ-donation-afd01</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-organ-donation-afd01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548681749901:ios:72cd01518d51e3345999c4</string>
</dict>
</plist>